@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    color: black;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgb(13, 4, 66) 0%, 
    rgb(0, 195, 255) 30%, rgb(255, 255, 255) 85%);
}
svg{
    position: absolute;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.2));
}
.container{
    position: relative;
    background-color: rgb(243, 243, 243);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 100px rgb(255, 255, 255,.15);
}
.container::after{
    content: '';
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(13, 4, 66) 0%, 
    rgb(0, 68, 255) 50%, rgb(0, 255, 242) 100%);
    top: -230px;
    left: -70px;
    opacity: .8;
}
.container::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(13, 4, 66) 0%, 
    rgb(0, 68, 255) 50%, rgb(0, 255, 242) 100%);
    bottom: -100px;
    right: -200px;
    opacity: .56;
    rotate: -115deg;
}
.cardLogin,
.cardRegis{
    height: 400px;
    position: relative;
    padding: 15px;
    z-index: 1;
    transition: .5s ease;
}
.cardLogin.off{
    transform: translateY(-350px);
}
.cardRegis.on{
    transform: translateY(-380px);
}

.cardLogin .heading,  form{
    position: relative;
    z-index: 2;
    padding: 10px;
}
.cardLogin .heading{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 78, 78);
}
.btnRegis{
    position: absolute;
    width: 30px;
    height: 30px;
    border:2px solid transparent;
    color: white;
    border-radius: 50%;
    background-color: rgb(0, 255, 242);
    bottom: 5px;
    right: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .2s ease;
    z-index: 999;
}
.btnRegis i{
    transition: .3s ease;
}
.btnRegis i.rotate{
    rotate: 180deg;
}
.cardLogin .btnRegis:hover{
    border-color: rgb(255, 0, 119);
    background: transparent;
    color: rgb(255, 0, 119);
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 20px;
}
form .input-grup{
    position: relative;
    height: 40px;
}
form .input-grup .border{
    width: 100%;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    background-color: rgb(228, 228, 228);
    bottom:0;
    left: 0;
    transition: .3s ;
}
form .input-grup input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-right: 30px;
    padding-left: 5px;
    font-size: 14px;
}
form .input-grup input:focus ~ span {
    background-color: rgb(64, 179, 255);
}
form .input-grup input::placeholder{
    color: rgb(199, 199, 199);
    font-family: Poppins;
    font-size: 12px;
}
form .input-grup i{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(199, 199, 199);
    font-size: 16px;
    transition: .3s ;
}
form .input-grup input:focus ~ i {
    color: rgb(64, 179, 255);
}
form a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(146, 146, 146);
}
form a:hover{
    color: rgb(64, 179, 255);
}
 form button{
    position: absolute;
    margin-top: 10px;
    width: max-content;
    height: 35px;
    padding: 0 60px;
    border: none;
    border-radius: 50px;
    color: #FFF;
    cursor: pointer;
    background: linear-gradient(-90deg, rgb(18, 0, 97) 0%, 
    rgb(0, 238, 255) 100%);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: .2s;
}
.cardLogin form button{
    right: 20px;
    bottom: -50px;
}
.sosmed{
    position: absolute;
    z-index: 2;
    height: px;
    width: 80%;
    top: 370px;
    padding-left: 20px;
    display: block;
    gap: 10px;
    transition: .5s ease;
    transform: translate(0px, 20px);

}


.logoaejics {
    margin-top: 15%;
    max-width: 35%;
}